!!!
%html
  %head
    %title Cucdb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600&subset=latin,latin-ext'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'

    = csrf_meta_tags
  %body
    .wrapper
      .logo
        = link_to root_path do
          =image_tag("owl1.png")
      %ul.nav
        %li
          = nav_link_to "Căutare", root_path
          = nav_link_to "Pachete", pachete_path

      = yield
    #footer
      %p

        Se caută prin #{question_count} întrebări. Ultima actualizare: #{last_sync_date}.
        = link_to "info", "http://github.com/cuc-project/db"
    = render(partial: 'layouts/analytics') if Rails.env.production?
