!!!
%html
  %head
    %title Cucdb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600&subset=latin,latin-ext'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'

    = csrf_meta_tags
  %body
    .wrapper
      %h1 CUC DB
      %form.search{ action: "search", method: :get}
        = text_field_tag(:query, nil, placeholder:"Caută în textul intrebării", autocomplete: 'off', value: @terms)
      #results
        = yield
    #footer
      %p

        Se caută prin #{@count} întrebări. Ultima actualizare: #{Date.today}.
        %a{href: "http://github.com/minivan/cucdb"}
          info
    = render(partial: 'layouts/analytics') if Rails.env.production?
